<table class="table_data" align="center">
  <tr>
    <th id="name">Троянов Никита Александрович</th>
  </tr>
  <tr>
    <td><%=image_tag("avatar.jpg", id: "avatar")%></td>
    <td>
      <ul class="links_list">
        <li><%= link_to 'Обо мне', '#' %></li>
        <li><%= link_to 'Мои работы', '#' %></li>
        <li><%= link_to 'Сделать заказ', '#' %></li>
        <li><%= link_to 'Контакты', '#' %></li>
      </ul> 
    </td>
  </tr>
</table>






  
